name: Deploy Frontend
on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'  # Chỉ chạy khi có thay đổi trong thư mục frontend

jobs:
  web-deploy:
    name: Deploy FE to Hosting
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4
    
    - name: Sync files via FTP
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./frontend/
        server-dir: /htdocs/       # Lưu ý: Đây là thư mục trên Hosting, bạn có thể sửa thành /htdocs/fe/ nếu muốn
